/*-
 * #%L
 * ObServe Server :: Runner
 * %%
 * Copyright (C) 2008 - 2025 IRD, Ultreia.io
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public
 * License along with this program.  If not, see
 * <http://www.gnu.org/licenses/gpl-3.0.html>.
 * #L%
 */
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

ul.breadcrumb li + li:last-child {
    font-weight: bold;
}

td.mandatory {
    font-weight: bold;
}

td.optional {
    font-style: italic;
}

div.footer {
    clear: both;
    text-align: center;
}

div.footer ul li {
    display: inline;
    list-style: none;
    margin: 0 10px;
    line-height: 30px;
    padding: 0 5px;
}

.widget {
    position: relative;
    background: white;
    padding: 0;
    margin: 0;
}

.widget-tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    direction: rtl;
    border-bottom: 1px solid #ddd;
}

.widget-tab,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    line-height: 36px;
    font-weight: normal;
    color: #999;
    background: #fcfcfc;
    border: solid #ddd;
    border-width: 1px 1px 0;
    border-radius: 5px 5px 0 0;
    bottom: auto;
}

.widget-tab > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
    margin: 0;
    border-top: 0;
}

.widget-tab + .widget-tab {
    margin-right: -1px;
}

.widget-tab:last-child,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
    bottom: -1px;
    margin-top: 0;
    padding-bottom: 2px;
    line-height: 34px;
    font-weight: bold;
    color: #555;
    background: white;
    border-top: 0;
}

.widget-tab:last-child > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
    margin: 0 -1px;
    border-top: 4px solid #0275d8;
}

.widget-tab-link {
    display: block;
    min-width: 60px;
    padding: 0 15px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.widget-list {
    display: none;
    padding-top: 45px;
    margin: 0
}

.widget-list-json> div  {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /*border-right: 1px solid #ddd;*/
}

/*.widget-list-validation-xml {*/
/*    padding-top: 40px;*/
/*}*/

.widget-list-validation-xml > div {
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /*border-right: 1px solid #ddd;*/
}

.widget-list-table {
    padding-top: 56px;
}

.widget-list-table-inline {
    /*padding-top: 40px;*/
}

.widget-list:last-of-type {
    display: block;
}

.widget-list:target {
    display: block;
}

.widget-list:target ~ .widget-list {
    display: none;
}

.widget-list-link {
    display: block;
    cursor: pointer;
}

a.top:before {
    padding-right: 8px;
    content: "🔝";
}

.validation-table > tbody > tr > td > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.validation-table > tbody > tr > td > ul > li.mandatory {
    font-weight: bold;
}

.validation-table > tbody > tr > td > ul > li.mandatory:before {
    padding-right: 8px;
    content: "\26D4";
}

.validation-table > tbody > tr > td > ul > li.optional {
    font-style: italic;
}

.validation-table > tbody > tr > td > ul > li.optional:before {
    padding-right: 8px;
    content: "\26A0";
    font-style: normal;
}

 .warning:before  {
    padding-right: 8px;
    content: "\26A0";
    font-style: normal;
}

.validation-table {
    border-collapse: collapse;
    width: 100%;
}

.validation-table > tbody > tr > td, .validation-table > thead > tr > th {
    border: 1px solid #ddd;
    padding: 5px;
}

.validation-table > tbody > tr:nth-child(even) {
    background-color: #eee;
}

/*.validation-table > tbody > tr:hover {background-color: #ddd;}*/

.validation-table > thead > tr > th {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    text-align: left;
}

.definition-table {
    border-collapse: collapse;
    width: 100%;
}

.definition-table > tbody > tr > td, .definition-table > thead > tr > th {
    border: 1px solid #ddd;
    padding: 5px;
}

.definition-table > tbody > tr:nth-child(even) {
    background-color: #eee;
}

/*.definition-table > tbody > tr:hover {background-color: #ddd;}*/

.definition-table > thead > tr > th {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    text-align: left;
}

.parameters-table {
    border-collapse: collapse;
    width: 100%;
}

.parameters-table > tbody > tr > td, .parameters-table > thead > tr > th {
    border: 1px solid #ddd;
    padding: 5px;
}

.parameters-table > tbody > tr:nth-child(even) {
    background-color: #eee;
}

/*.definition-table > tbody > tr:hover {background-color: #ddd;}*/

.parameters-table > thead > tr > th {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    text-align: left;
}


.filters-table {
    border-collapse: collapse;
    width: 100%;
}

.filters-table > tbody > tr > td, .filters-table > thead > tr > th {
    border: 1px solid #ddd;
    padding: 5px;
}

.filters-table > tbody > tr:nth-child(even) {
    background-color: #eee;
}

.filters-table > thead > tr > th {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    text-align: left;
}
